<config>

    <dataSourse>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://118.24.126.49:3306/test"/>
        <property name="username" value="XXXXX"/>
        <property name="password" value="XXXX"/>
    </dataSourse>

    <mappers>
        <mapper result="xml/UserMapper.xml"/>
        <mapper result="xml/ProductMapper.xml"/>
    </mappers>


</config>
